#CurrentClass {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    border: 5px solid #0a0a0f;
    border-radius: 50px;
    background-color: #28283c;

    padding: 0rem;
    padding-top: 1rem;

    min-width: 18rem;
    min-height: 3rem;

    text-align: center;

    span {
        margin: 0 auto;
    }
}