#ClassPeriodList {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    border: 5px solid #0a0a0f;
    border-radius: 50px;
    background-color: #28283c;

    padding: 0rem;
    padding-top: 1rem;

    min-width: 10rem;
    min-height: 6rem;

    width: fit-content;
}

#Classes {
    /*display: grid;
    grid-auto-flow: column;*/
    display: flex;
    flex-wrap: wrap;
}


.ClassInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border: 5px solid #1e1e2d;
    border-radius: 20px;
    background-color: #505078;

    padding: 1rem;
    margin: 1rem;
}

.ClassInfoData {
    display: flex;
    gap: 0.5rem;
    margin-left: 0;

    > span {
        margin-left: 0;
        min-width: 5rem;
    }

    > input {
        flex: 1;
        min-width: 0;
        width: 0;
    }

    > button {
        flex: 0 0 auto;
    }
}

button {
    min-width: 75%;
    min-height: 2.5rem;

    background-color: white;
    color: black;
    border-radius: 15px;
    font-size: 1.25rem;


    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    transition: transform 200ms ease, background-color 200ms ease;

    &:hover {
        transform: scale(1.2);
        background-color: #d7d7d7;
    }
}