#ClassPeriodList {
    margin: 3rem;
}

#NewClassInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 5px solid rgb(10, 10, 15);
    border-radius: 20px;
    padding: 1rem;

    > div {
        display: flex;
        gap: 0.5rem;
        margin-left: 0;

        > span {
            margin-left: 0;
            min-width: 5rem;
        }

        > input {
            flex: 1;
            min-width: 0;
            width: 0;
        }

        > button {
            flex: 0 0 auto;
        }
    }
}