#CreatedBy {
    font-size: 1.25rem;
    width: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: white;
    text-decoration: none;

    transition: transform 200ms ease, margin-top 200ms ease, margin-bottom 200ms ease;

    &:hover {
        transform: scale(1.2);
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

#KyteKodeImage {
    display: block;
    margin: 0 auto;
    width: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 5px solid rgb(165, 110, 50);
}