@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #14141e;
    color: white;
    font-family: "Montserrat", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 1.5rem;
}

span, p {
    font-size: 1.25rem;
    margin: 0.2rem;
    margin-left: 1.5rem;
    text-align: center;
}

a {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.25rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;

    color: #4bc3ff;

    transition: transform 200ms ease, margin-left 200ms ease, margin-right 200ms ease;

    &:hover {
        color: #4b96ff;
        transform: scale(1.2);
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    &:visited {
        color: #967dff;

        &:hover {
            color: #7d64ff;
        }
    }
}
/*
Source - https://stackoverflow.com/a/22559163
Posted by swehren, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-31, License - CC BY-SA 3.0
*/

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}